html
  head
    meta(charset="utf8")
    title Nomad Coader
  body
    h1 TXT2HTML
    form(enctype="multipart/form-data" action="/read" method="post")
      input(type="file" name="text")
      button(type="submit") Convert!